*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    outline: none;
}
:root {
    --text-color: rgb(155, 237, 193);
    --shadow-color: hsla(210, 69%, 50%, 0.4);
    --btn-color: #094524;
    --bg-color: #141218;
  }

body {
    /* background-image: url("./assets/dolar-fundo.png"); */
    background-size: cover;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    
}

.logo-conversor {
    width: 300px;
    display: block;
    margin: 20px auto;
    
}

main {
    width: 500px;
    height: 1100px;
    background: #dfe1ca;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {
    color: hsl(0, 1%, 26%);
    font-weight: 400;
    font-size: 25px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    font-size: 25px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 25px;
    color: #555555;
    cursor: pointer;
}


button {
    position:relative;
    padding: 10px 20px;  
    border: none;
    background: none;
    cursor: pointer;
    
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;  
    color: var(--text-color);
    
    background-color: var(--btn-color);
    box-shadow: var(--shadow-color) 2px 2px 22px;
    border-radius: 4px; 
    z-index: 0;  
    overflow: hidden;   
  }
  
  button:focus {
    outline-color: transparent;
    box-shadow: var(--btn-color) 2px 2px 22px;
  }
  
  .right::after, button::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px 40px;
    pointer-events:none;
  }
  
  button::after{
    
    top: -30px;
    left: -20px;
  } 
  
  .right, .left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .right {
    left: 66%;
  }
  .left {
    right: 66%;
  }
  .right::after {
    top: -30px;
    left: calc(-66% - 20px);
    
    background-color: var(--bg-color);
    color:transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
  }
  
  button:hover .right::after {
    transform: translate(0, -47%) rotate(0deg)
  }
  
  button .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
  }
  
  button .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg)
  }
  
  /* bubbles */
  button::before {
    content: '';
    pointer-events: none;
    opacity: .9;
    background:
      radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
  
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 2s linear infinite both;
  }
  
  @keyframes bubbles {
    from {
      transform: translate();
    }
    to {
      transform: translate(0, -66.666%);
    }
  }

  section {
    margin-top: 36px;
    border: 3px solid hsl(168, 67%, 18%);
    border-radius: 20px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }


.logo-moeda-a-converter {
    width: 90px;
}

.seta {
    width: 110px;
    margin: 15px 0;
}

.logo-moeda-convertida {
    width: 90px;
}

.currency-to-converter, .currency-converted {
    color: #777777;
    font-size: 18px;
    font-weight: 700;

}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 25px;


}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  z-index: 9999; /* Para garantir que o overlay fique acima de tudo */
}

.loading-text {
  text-align: center;
}
